body{
    background-color: gainsboro;
    font-family: sans-serif;
}
h1{
    background-image: linear-gradient(#c0392b , #8e44ad);
    font-size: 100px;
    color: white;
    height:120px ;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    display: block;
    margin: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 5px;
}
img{
    width: 100px;
    display: block;
    margin: auto;
}
.all-main-dev{
    background-color: whitesmoke;
    border-radius: 10px;
}
.all-main-dev p{
    background-color: white;
    margin: center;
    width: 400px;
    font-size: 35px;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
    transition: 0.5s;
}
.all-main-dev p:hover{
    transform: scale(105%) ;
    font-size: 40px;
    cursor: pointer;
}
.all-main-dev a{
text-decoration: none;
color: black;
}
.all-main-dev h1{
color: black;
font-size: 40px;
background-image: none;
}
.all-main-dev video{
width: 500px;
height: 450px;
display: block;
margin: auto;
}
@media screen and (max-width: 750px) {
.all-main-dev {
    background-color: white;
    width: 500px;
    font-size: 25px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
  }
}
.all-main-dev img{
    height: 350px;
    width: 350px;
    display: block;
    margin: auto;
}
.footer{
    background-color: whitesmoke;
    font-size: 24px; 
}